<section class="container">
    <form ng-submit="vm.login(vm.credentials)" name="authForm" novalidate>
        <h2>Login</h2>
        <p ng-show="vm.error" class="alert alert-danger">{{ vm.error.message }}</p>
        <div>
            <label for="email">E-mail</label>
            <input type="email" id="email" class="form-control" ng-model="vm.credentials.email" placeholder="Endereço de e-mail" autocomplete="off" autofocus required>
        </div>
        <div>
            <label for="password">Senha</label>
            <input type="password" id="password" class="form-control" ng-model="vm.credentials.password" required>
        </div>
        <button class="btn btn-success btn-block">Login</button>
    </form>
</section>