<ng-include src="'header/nav.html'"></ng-include>
<div class="container">
<section class="row">
    <div class="col-md-12">
        <h1 class="page-header">Cervejarias</h1>
    </div>
</section>
<section class="row" ng-show="vm.error || vm.success">
    <div class="col-md-12">
        <p class="alert alert-success" ng-show="vm.success">{{ vm.success.message }}</p>
        <p class="alert alert-danger" ng-show="vm.error">{{ vm.error.message }}</p>
    </div>
</section>
<div class="row">
    <section class="col-md-8">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Criado em</th>
                    <th>Alterado em</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brewery in vm.breweries">
                    <td>{{ brewery.name }}</td>
                    <td>{{ brewery.description }}</td>
                    <td>{{ brewery.created | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ brewery.updated | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>
                        <button type="button" ng-click="vm.populate(brewery)" class="btn btn-xs btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" ng-click="vm.remove(brewery)" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="col-md-4">
        <form ng-submit="vm.save(vm.brewery)" name="breweryForm">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name">Nome</label>
                    <input type="text" id="name" class="form-control" ng-model="vm.brewery.name" required autofocus>
                </div>
                <div class="form-group col-md-6">
                    <label for="description">Descrição</label>
                    <input type="text" id="description" class="form-control" ng-model="vm.brewery.description">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn btn-success" ng-disabled="breweryForm.$invalid">Salvar</button>
                        <button type="reset" ng-click="vm.reset()" class="btn btn-warning">Limpar</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
</div>